.section-homepage-3(style="background-image: url('./img/home3.png')")
	.container
		.homepage-3-content
			.homepage-3-title(class="lg:w-6/12")
				| Nâng Tầm Giá Trị Nông Sản Với Công Nghệ Sấy Thăng Hoa Đỉnh Cao
				.homepage-3-image
					img(src="./img/doublequote.png")

			.homepage-3-stats(class="lg:w-6/12")
				.stat-above
					.stat-box-wrapper
						.stat-box
							.stat-icon
								i.fa-light.fa-globe
							.stat-number 100+
							.stat-label Đối Tác Toàn Cầu
				.stat-below
					.stat-box-wrapper
						.stat-box
							.stat-icon
								i.fa-light.fa-business-time
							.stat-number 10+
							.stat-label Năm Kinh Nghiệm
					.stat-box-wrapper
						.stat-box
							.stat-icon
								i.fa-light.fa-users
							.stat-number 99%
							.stat-label Khách Hàng Hài Lòng