.section-homepage-8
	.container
		.homepage-8-title
			h2 Tin tức
		.homepage-8-btn
			span.news_btn.current_menu-item Tất cả
			span.news_btn Tin hoạt động
			span.news_btn Sự kiện
		.homepage-8-content
			.homepage-8-news
				.homepage-8-news-item
					.homepage-8-news-image
						img(src='./img/home7-news1.png')
					span.category Tin hoạt động
					span.date 04.03.2025
					h3.homepage-8-news-title Bí quyết chọn thực phẩm chất lượng cao cho gia đình
					.homepage-8-news-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.homepage-8-news-item
					.homepage-8-news-image
						img(src='./img/home7-news2.png')
					span.category Sự kiện
					span.date 04.03.2025
					h3.homepage-8-news-title Ứng dụng công nghệ sấy thực phẩm thăng hoa trong ẩm thực và dinh dưỡng
					.homepage-8-news-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				
				.homepage-8-news-item
					.homepage-8-news-image
						img(src='./img/home7-news3.png')
					span.category Tin hoạt động
					span.date 04.03.2025
					h3.homepage-8-news-title Làm thế nào để chọn thực phẩm chất lượng cho bữa ăn hàng ngày?
					.homepage-8-news-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.