.tool-fixed-cta
    .btn.button-to-top
        .btn-icon
            .icon
                i.fa-solid.fa-arrow-up
    a.btn.btn-content
        .btn-icon
            .icon
                i.fa-solid.fa-location-dot
    a.btn.btn-content
        .btn-icon
            .icon
                i.fa-solid.fa-phone
    a.btn.btn-content
        .btn-icon
            .icon
                i.fa-solid.fa-comments
footer
    .container
        .footer-main(class="gap-y-6 lg:gap-x-6 pt-15")
            .footer-above
                .col(class="lg:w-3/6")
                    .footer-content
                        p Bản tin dành riêng cho bạn
                        p Nhận thông tin hữu ích ngay hôm nay!
                    .footer-form
                        input(type="text" placeholder="Email")
                        a.email-btn
                            | Gửi
                            i.fa-solid.fa-arrow-up-right.ml-2
                    .footer-logo
                        p.footer-cert-title Chứng nhận
                        .footer-cert-imgs
                            img(src="./img/footer-logo1.png", alt="" class="max-w-full")
                            img(src="./img/footer-logo2.png", alt="" cla-ss="max-w-full")
                            img(src="./img/footer-logo3.png", alt="" class="max-w-full")
                .col(class="lg:w-2/6")
                    .footer-column
                        .footer-link-title Liên kết nhanh
                        .footer-link(class="mb-4")
                            ul(class="footer-list")
                                li: a(href="") Giới thiệu
                                li: a(href="") Công bố sản phẩm
                                li: a(href="") Quy trình công nghệ
                                li: a(href="") Chứng nhận
                                li: a(href="") Tin tức
                                li: a(href="") Liên hệ
                .col(class="lg:w-2/6")
                    .footer-column
                        .footer-link-title Danh mục sản phẩm
                        .footer-link(class="mb-4")
                            ul(class="footer-list")
                                li: a(href="") Trái cây sấy thăng hoa
                                li: a(href="") Rau củ quả sấy thăng hoa
                                li: a(href="") Pet food sấy thăng hoa
                                li: a(href="") Sữa chua sấy thăng hoa
                                li: a(href="") Bột sấy thăng hoa
            .footer-bottom(class="py-6")
                p.footer-copyright © 2025 Hoàng Tâm. All Rights Reserved.
                    a.footer-designed-by(href="") Thiết kế web bởi Cánh Cam.
                ul
                    li: a(href="#dieu-khoan") Chính sách mua hàng
                    li: a(href="#chinh-sach-bao-mat") Điều khoản bảo mật
        .footer-contact-box
            .footer-contact-content
                .box-logo(class="flex-row items-center gap-3")
                    img(src="./img/logo_white.png", alt="logo")
                    .box-logo-title
                        p CÔNG TY TNHH THƯƠNG MẠI 
                        P AC&R VIỆT NAM
                .footer-contact-info
                    p.footer-phone
                        span.font-bold SỐ ĐIỆN THOẠI
                        br
                        | (229) 555-0109
                    p.footer-address
                        span.font-bold ĐỊA CHỈ
                        br
                        | 51 Trần Phú, Phường 4, Quận 5, TP. Hồ Chí Minh, Việt Nam
                    p.footer-social.mb-3
                        span.font-bold FOLLOW US
                    .footer-social-list.flex.gap-6
                        a.social-icon(href="")
                            i.fa-brands.fa-facebook-f
                        a.social-icon(href="")
                            i.fa-brands.fa-instagram
                        a.social-icon(href="")
                            i.fa-brands.fa-youtube
                        a.social-icon(href="")
                            i.fa-brands.fa-tiktok
                .footer-logo-overlay
                    img(src="./img/logo-overlay.png")