.section-homepage-1
    .container
        .homepage-slider.swiper
            .swiper-wrapper
                .swiper-slide(style="background-image: url('./img/main-banner.jpg')")
                    .slide-content
                        .slide-text
                            h2 CÔNG NGHỆ SẤY 
                                br
                                | THĂNG HOA TIÊN TIẾN
                            h3 GIỮ TRỌN HƯƠNG VỊ TỰ NHIÊN
                            a.btn(href="#") Tìm hiểu thêm 
                            span.icon-arrow-up-right
                .swiper-slide(style="background-image: url('./img/main-banner.jpg')")
                    .slide-content
                        .slide-text
                            h2 CÔNG NGHỆ SẤY 
                                br
                                | THĂNG HOA TIÊN TIẾN
                            h3 GIỮ TRỌN HƯƠNG VỊ TỰ NHIÊN
                            a.btn(href="#") Tìm hiểu thêm 
                            span.icon-arrow-up-right
                .swiper-slide(style="background-image: url('./img/main-banner.jpg')")
                    .slide-content
                        .slide-text
                            h2 CÔNG NGHỆ SẤY 
                                br
                                | THĂNG HOA TIÊN TIẾN
                            h3 GIỮ TRỌN HƯƠNG VỊ TỰ NHIÊN
                            a.btn(href="#") Tìm hiểu thêm 
                            span.icon-arrow-up-right
        .swiper-button-prev
        .swiper-button-next
        .swiper-paginations
