.section-homepage-2
    .container
        .homepage-2-grid
            .homepage-2-content
                h2 Giữ Trọn Tự Nhiên Nhờ Công Nghệ Sấy Thăng Hoa Tiên Tiến
                ul
                    li Công ty ACR chuyên gia công, sản xuất và cung cấp thực phẩm sấy thăng hoa chất lượng cao, phục vụ nhu cầu đa dạng của thị trường trong nước và quốc tế. Với công nghệ sấy thăng hoa tiên tiến, ACR cam kết mang đến các sản phẩm giữ nguyên hương vị, màu sắc tự nhiên và giá trị dinh dưỡng tối ưu.
                    li Chúng tôi không ngừng cải tiến quy trình sản xuất, tuân thủ nghiêm ngặt các tiêu chuẩn an toàn thực phẩm nhằm đảm bảo chất lượng tốt nhất cho khách hàng. ACR tự hào là đối tác tin cậy của các doanh nghiệp trong ngành thực phẩm, chế biến nông sản, dược phẩm và thực phẩm chức năng.
                a.btn(href="#") 
                    | Tìm hiểu thêm 
                    span.icon-arrow-up-right
            .homepage-2-media
                .media-grid
                    .media-item
                        img(src="./img/home2-1.png")
                    .media-item
                        img(src="./img/home2-2.png")
                    .media-item
                        img(src="./img/home2-3.png")
                    .media-item
                        img(src="./img/home2-4.png")